<html><head>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <title>Discrete</title>
    </head>
    <body>
        <!-- What we need in our project
1. A summary of all the terminologies needed to understand your topic.
2. An overview of your program, the algorithms you are using and explanation of the main
idea.
3. A description of how to use the program.
4. You must submit the code for the program and an executable link so others can play with
your program.
5. A bibliography that cites any resources you used including the textbook with proper citations.
-->
        <div class="jumbotron">
          <div class="display-3">Discrete Mathematics Project Part 3</div>
        </div><center>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/sMOZf4GN3oc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></center>
            <div id="jay's summary block">
                <h1>Summary</h1>
                <h4>Array: a container of variable length, each value of an array is the same type of 
                value. I.e all values are integers, all values are words, etc.</h4>
                <h4>
                Index: used to indicate the specific container (and it's value)
                of an array. The first element of an array has an index of 1 (or 0 depending on
                the standard).</h4>
                
               <h4> Modulus: the number left over after an interger division occurs. Divisible numbers
                that are factors will leave a remainder of 0.<br><br>
                ex: `30 / 3 = 10` remainder 0 and
                    `16 / 5 = 3` remainder 1</h4>
                
            </div>
        
            <div id="jay's overview block">
            <h1>Overview</h1>
              <h4>A caesar cipher uses the existing letters of a language and creates an encryption
                by shifting the index value of the alphabet. In English, the letter 'A' would have the
                index of 1 since it's the first letter in the alphabet. Shifting the alphabet
                to the right 3 would make the letter 'D' have the index of 1. Another example of a shift would be
                a shift of 7 to the right, the letter associated with that shift would be 'H'</h4>
                
               <h4> Decoding is done by shifting the index value of the alphabet in the opposite direction
                of the encripytion shift. If the letter 'D' is index 1, shifting the alphabet left 3 
                would return the letter 'A' to index value 1. Returning the word to a readable format. So essentially the do the opposite
                , you encrypt it with a shift of 7 to the right, to decrypt you go left 7 to find out what the letter really is.</h4>
                <h4>
                Mathmatically this can be noted as:
                `f(x) = (x + k) mod (a)`
                where 'x' represents the letter being encrypted
                      'k' represents the number of letters being shifted
                      'a' represents the length of the alphabet being used 
                
                So using the english letter 'A' (index 1) shifting 3 right it would look like:
                `f('A') = (1 + 3) mod (26)`
                </h4>
                <a href="http://practicalcryptography.com/ciphers/caesar-cipher/"></a>
            </div>
         
      
            
            <div id="howtouseBlock">
                <h1>How to Use</h1>
                <ul>
                <li><strong>Add text to the textbox:</strong> since there is already text in the area press the button <strong>'Decrypt'</strong></li>
                <li><strong>Encrypt:</strong> Press the 'encrypt' button to hide the message. </li>
                <li><strong>Decrypt:</strong> Press the 'decrypt' button to reveal the encrypted message.</li>
                <li><strong>Shift:</strong> Change the value to encrypt the message in a different way, notice if you change the value the encrypted message will come out differently</li>
                </ul>
            </div>
            <div id="code">
                <h1>Ceasars Cipher Implementation</h1>
                <code></code>
            </div>
            
        <form action="#" method="get" onsubmit="return false;">
	<table class="noborder">
		<tbody>
			<tr>
			    <style>
			        #text{
			            color:red;
			            font-size:1.5em;
			        }
			    </style>
				<td><label for="text">Text Box:</label></td>
				<td><textarea id="text" cols="50" rows="10" style="width:40em; height:15em">Gunax lbh sbe grnpuvat qvfpergr zngu!</textarea></td>
			</tr>
			<tr>
				<td><label for="shift">Shift:</label></td>
				<td><input type="text" id="shift" value="13" style="width:4em;"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="button" value="Encrypt" onclick="doCrypt(false);"/>
					<input type="button" value="Decrypt" onclick="doCrypt(true);"/>
				</td>
			</tr>
		</tbody>
	</table>
</form>
    <script>


        "use strict";
        
        function doCrypt(isDecrypt) {
        	var shiftText = document.getElementById("shift").value;
        	// Regex to test if the value is a character or random value...
        	if (!/^-?\d+$/.test(shiftText)) {
        	    // function will return if there is no integer in 'shift' input
        		alert("Shift is not an integer");
        		return;
        	}
            
        	var shift = parseInt(shiftText, 10);
        	if (shift < 0 || shift >= 26) {
        		alert("Shift is out of range");
        		return;
        	}
        	if (isDecrypt)
        		shift = (26 - shift) % 26;
        	var textElem = document.getElementById("text");
        	textElem.value = caesarShift(textElem.value, shift);
        }
        
        
      
        function caesarShift(text, shift) {
        	var result = "";
        	for (var i = 0; i < text.length; i++) {
        		var c = text.charCodeAt(i);
        		if      (65 <= c && c <=  90) result += String.fromCharCode((c - 65 + shift) % 26 + 65);  // Uppercase
        		else if (97 <= c && c <= 122) result += String.fromCharCode((c - 97 + shift) % 26 + 97);  // Lowercase
        		else                          result += text.charAt(i);  // Copy
        	}
        	return result;
        }

        </script>
        <h4 id="codeWriting">Javascript Shift Function Example </h4>
          <div id="codeExample">
          <code>   
        function shiftString(text, shift) {<br>
        	var result = "";<br>
        	for (var i = 0; i < text.length; i++) {<br> <p id="codeWriting"> Go through the amount of characters in the string</p> 
        		var c = text.charCodeAt(i);<br> 
        		if      (65 <= c && c <=  90) result += String.fromCharCode((c - 65 + shift) % 26 + 65); <br> <p id="codeWriting">Check if the characters are uppercase</p>
        		else if (97 <= c && c <= 122) result += String.fromCharCode((c - 97 + shift) % 26 + 97); <br><p id="codeWriting">Check if the characters are lowercase</p>
        		else                          result += text.charAt(i);  <br>
        	}<br>
        	return result;<Br> <p id="codeWriting"> Return the shifted string</p>
        }<br>
</code>
</div>
       <style>
       #codeWriting{
           color:red;
       }
           #codeExample{
               width:450px;
               height:450px;
               padding:20px;
               border:2px solid black;
           }
       </style>
            
            <div id="decryptedBox">
                <h1>Decryption Message:</h1>
                <p>Spwwz, lyo hpwnzxp ez esp xpyelw splwes szewtyp. Tq jzf lcp zmdpddtgp-nzxafwdtgp, acpdd<br>
                1 cpaplepowj. Tq jzf lcp nz-opapyopye, awpldp ldv dzxpzyp ez acpdd 2 qzc jzf. Tq jzf slgp<br>
                xfwetawp apcdzylwtetpd, acpdd 3, 4, 5, lyo 6. Tq jzf lcp alclyzto, hp vyzh hsz jzf lcp lyo hsle<br>
                jzf hlye. Delj zy esp wtyp dz hp nly eclnp jzfc nlww. Tq jzf lcp opwfdtzylw, acpdd 7 lyo jzfc<br>
                nlww htww mp eclydqpccpo ez esp xzespc dsta. Tq jzf lcp dnstkzascpytn, wtdepy nlcpqfwwj<br>
                lyo l dxlww gztnp htww epww jzf hstns yfxmpc ez acpdd. Tq jzf lcp xlytn-opacpddtgp, te<br>
                ozpdy?e xleepc hstns yfxmpc jzf acpdd, yz zyp htww lydhpc. Tq jzf lcp ojdwpitn, acpdd<br>
                969696969696969. Tq jzf slgp l ypcgzfd otdzcopc, awpldp qtorpe htes esp olds vpj fyetw l<br>
                cpacpdpyeletgp nzxpd zy esp wtyp. Tq jzf slgp lxypdtl, acpdd 8 lyo delep jzfc ylxp, loocpdd,<br>
                aszyp yfxmpc, olep zq mtces, dzntlw dpnfctej yfxmpc, lyo jzfc xzespc?d xltopy ylxp. Tq jzf<br>
                slgp azde-eclfxletn decpdd otdzcopc, dwzhwj lyo nlcpqfwwj acpdd 000. Tq jzf slgp mtazwlc<br>
                otdzcopc, awpldp wplgp l xpddlrp lqepc esp mppa zc mpqzcp esp mppa. Zc lqepc esp mppa.<br>
                Awpldp hlte qzc esp mppa. Tq jzf slgp wzh dpwq-pdeppx, awpldp slyr fa. Lww zfc zapclezcd<br>
                lcp ezz mfdj ez elwv ez jzf. Tq jzf slgp dszce-epcx xpxzcj wzdd, acpdd 9. Tq jzf slgp dszce-epcx<br>
                xpxzcj wzdd, acpdd 9. Tq jzf slgp dszce-epcx xpxzcj wzdd, acpdd 9. Tq jzf slgp dszce-epcx<br>
                xpxzcj wzdd, acpdd 9?
                </p>
                <h1>Encrypted Message: </h1>
                <h2>Use shift by 11</h2>
                Hello, and welcome to the mental health hotline. If you are obsessive-compulsive, press<br>
                1 repeatedly. If you are co-dependent, please ask someone to press 2 for you. If you have<br>
                multiple personalities, press 3, 4, 5, and 6. If you are paranoid, we know who you are and what<br>
                you want. Stay on the line so we can trace your call. If you are delusional, press 7 and your<br>
                call will be transferred to the mother ship. If you are schizophrenic, listen carefully<br>
                and a small voice will tell you which number to press. If you are manic-depressive, it<br>
                doesn?t matter which number you press, no one will answer. If you are dyslexic, press<br>
                969696969696969. If you have a nervous disorder, please fidget with the dash key until a<br>
                representative comes on the line. If you have amnesia, press 8 and state your name, address,<br>
                phone number, date of birth, social security number, and your mother?s maiden name. If you<br>
                have post-traumatic stress disorder, slowly and carefully press 000. If you have bipolar<br>
                disorder, please leave a message after the beep or before the beep. Or after the beep.<br>
                Please wait for the beep. If you have low self-esteem, please hang up. All our operators<br>
                are too busy to talk to you. If you have short-term memory loss, press 9. If you have short-term<br>
                memory loss, press 9. If you have short-term memory loss, press 9. If you have short-term<br>
                memory loss, press 9?
            </div>
            
            
            <div id="Joels block">
                <h1>Bibliography</h1>
                <p>YouTube, YouTube, www.youtube.com/embed/sMOZf4GN3oc.Copy & paste citation</p>
                <p>“Crypto.” Practical Cryptography, practicalcryptography.com/ciphers/caesar-cipher/.</p>
                <p>Singh, Simon (2000). The Code Book: The Science of Secrecy from Ancient Egypt to Quantum Cryptography. ISBN 0-385-49532-3.</p>
                  
            </div>
        <style>
            #h2{
                text-color:red;
            }
            body{
                margin:0 auto;
                
            }
        </style>
    </body>
    
</html>