<html>
    <body>
        <ol>
            <li>
                 A summary of all the terminologies needed to understand your topic.

            </li>
            <li> An overview of your program, the algorithms you are using and explanation of the main
idea.
</li>
<li> A description of how to use the program.
</li>
<li> You must submit the code for the program and an executable link so others can play with
your program.
</li><li> A bibliography that cites any resources you used including the textbook with proper citations.</li>
        </ol>
        
        
    </body>
    
</html>